<launch>
  
  <node pkg="vision" type="vision_node" name="vision_node" output="screen">

    <param name="fx" type="double" value="600" />
    <param name="fy" type="double" value="600" />
    <param name="px" type="double" value="320" />
    <param name="py" type="double" value="240" />

    <param name="tag_size" type="double" value="0.163513" />
  </node>
</launch>
